<div th:fragment="admin-sidebar"  class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
    <div class="mobile-sidebar-header d-md-none">
        <div class="header-logo">
            <a href="#">
                <img src="static/img/logo.png" alt="logo">
            </a>
        </div>
    </div>
    <div class="sidebar-menu-content">
        <ul class="nav nav-sidebar-menu sidebar-toggle-view">
            <li class="nav-item sidebar-nav-item">
                <a href="/admin-dashboard" class="nav-link">
                    <i class="fa fa-tachometer"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item sidebar-nav-item">
                <a href="javascript:void(0)" class="nav-link">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i><span>Courses</span>
                    <i class="fa fa-angle-down float-right" aria-hidden="true"></i>
                </a>
                <ul class="nav sub-group-menu menu-open" style="height: auto">
                    <li class="nav-item">
                        <a href="/create-chapter" class="nav-link">
                            <i class="fa fa-angle-right"></i>Create Chapter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/chapter-list" class="nav-link">
                            <i class="fa fa-angle-right"></i>Edit Chapter
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item sidebar-nav-item">
                <a href="/add-school" class="nav-link">
                    <i class="fa fa-university" aria-hidden="true"></i>
                    <span>Add School</span>
                </a>
            </li>
            <li class="nav-item sidebar-nav-item">
                <a href="/create-quiz" class="nav-link">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    <span>Quiz</span>
                </a>
            </li>
            <li class="nav-item sidebar-nav-item">
                <a href="/student-list" class="nav-link">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>Student List</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    $(function() {
  $('.nav li a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('menu-active');
});
</script>