<header th:fragment="header" xmlns:th="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" ">
    <div class="header-area ">
        <div class="header-top_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header_top_wrap d-flex justify-content-between align-items-center">
                            <div class="text_wrap">
                                <p>
                                    <span><i class="fa fa-phone-square" aria-hidden="true"></i> <a class="pl-2 ml-1"
                                                                                                   href="tel:3073000017">(307) 300-0017</a></span>

                                </p>
                            </div>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a class="eldt-facebook" href="https://www.facebook.com/eldtinc">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="eldt-twitter" href="https://twitter.com/EldtInc">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="eldt-linkedin" href="https://www.linkedin.com/company/eldt-inc/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="eldt-instagram" href="https://www.instagram.com/eldt_inc/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header_wrap d-flex justify-content-between align-items-center">
                            <div class="header_left">
                                <div class="logo">
                                    <a class="eldt-logo-head" href="/">
                                        <img src="static/img/logo.png" alt="eldt-logo">
                                    </a>
                                </div>
                            </div>
                            <div class="header_right d-flex align-items-center">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul class="mb-0" id="navigation">
                                            <li>
                                                <a href="/">home</a>
                                            </li>
                                            <li>
                                                <a href="about-us">About Us</a>
                                            </li>
                                            <li>
                                                <a class="eldt-course" href="eldt-course">ELDT Course</a>
                                            </li>
                                            <li>
                                                <a href="eldt-prep-app">ELDT Prep App</a>
                                            </li>
                                            <li>
                                                <a href="blog">blog <i class="ti-angle-down"></i></a>
                                            </li>

                                            <li>
                                                <a href="contact">Contact</a>
                                            </li>
                                            <li>
                                                <div class="Appointment">
                                                    <div class="book_btn d-lg-block">
                                                        <a class="bg-yellow text-dark" data-scroll-nav='1'
                                                           href="login">Login</a>
                                                    </div>
                                                    <div class="book_btn d-lg-block">
                                                        <a class="bg-black" data-scroll-nav='1'
                                                           href="register">Register</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>