<div th:fragment="school-sidebar"  class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
    <div class="mobile-sidebar-header d-md-none">
        <div class="header-logo">
            <a href="index.html">
                <img src="static/img/logo.png" alt="logo">
            </a>
        </div>
    </div>
    <div class="sidebar-menu-content">
        <ul class="nav nav-sidebar-menu sidebar-toggle-view">
            <li class="nav-item sidebar-nav-item">
                <a href="/school-dashboard" class="nav-link">
                    <i class="fa fa-tachometer"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item sidebar-nav-item">
                <a href="javascript:void(0)" class="nav-link">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i><span>Students</span>
                    <i class="fa fa-angle-down float-right" aria-hidden="true"></i>
                </a>
                <ul class="nav sub-group-menu menu-open" style="height:auto">
                    <li class="nav-item">
                        <a href="/add-student" class="nav-link">
                            <i class="fa fa-angle-right"></i>Add Student
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/school-students" class="nav-link">
                            <i class="fa fa-angle-right"></i>All Students
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item sidebar-nav-item">
                <a href="javascript:void(0)" class="nav-link">
                    <i class="fa fa-university" aria-hidden="true"></i><span>Faculty</span>
                    <i class="fa fa-angle-down float-right" aria-hidden="true"></i>
                </a>
                <ul class="nav sub-group-menu menu-open" style="height:auto">
                    <li class="nav-item">
                        <a href="/add-faculty" class="nav-link">
                            <i class="fa fa-angle-right"></i>Add Faculty
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/faculty-list" class="nav-link">
                            <i class="fa fa-angle-right"></i>All Faculty
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/assign-student" class="nav-link">
                            <i class="fa fa-angle-right"></i>Assign Student
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item sidebar-nav-item">
                <a href="/student-attendance" class="nav-link">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    <span>Attendance</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    $(function() {
  $('.nav li a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('menu-active');
});
</script>
