<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="ELDT Training online - ELDT Inc">
    <meta property="og:image" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" href="static/img/favicon.png">
    <title>ELDT Inc</title>
    <link rel="icon" href="/static/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>

<!-- Header Start ---->

<!--<header th:replace="/layouts/fragments/header"></header>-->
<header>
    <div class="header-area ">
        <div class="header-top_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header_top_wrap d-flex justify-content-between align-items-center">
                            <div class="text_wrap">
                                <p>
                                    <span><i class="fa fa-phone-square" aria-hidden="true"></i> <a class="pl-2 ml-1"
                                                                                                   href="tel:3073000017">(307) 300-0017</a></span>

                                </p>
                            </div>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a class="eldt-facebook" href="https://www.facebook.com/eldtinc">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="eldt-twitter" href="https://twitter.com/EldtInc">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="eldt-linkedin" href="https://www.linkedin.com/company/eldt-inc/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="eldt-instagram" href="https://www.instagram.com/eldt_inc/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header_wrap d-flex justify-content-between align-items-center">
                            <div class="header_left">
                                <div class="logo">
                                    <a class="eldt-logo-head" href="/">
                                        <img src="static/img/logo.png" alt="eldt-logo">
                                    </a>
                                </div>
                            </div>
                            <div class="header_right d-flex align-items-center">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul class="mb-0" id="navigation">
                                            <li>
                                                <a href="/">home</a>
                                            </li>
                                            <li>
                                                <a href="about-us">About Us</a>
                                            </li>
                                            <li>
                                                <a class="eldt-course" href="eldt-course">ELDT Course</a>
                                            </li>
                                            <li>
                                                <a href="eldt-prep-app">ELDT Prep App</a>
                                            </li>
                                            <li>
                                                <a href="blog">blog <i class="ti-angle-down"></i></a>
                                            </li>

                                            <li>
                                                <a href="contact">Contact</a>
                                            </li>
                                            <li>
                                                <div class="Appointment">
                                                    <div class="book_btn d-lg-block">
                                                        <a class="bg-yellow text-dark" data-scroll-nav='1'
                                                           href="login">Login</a>
                                                    </div>
                                                    <div class="book_btn d-lg-block">
                                                        <a class="bg-black" data-scroll-nav='1'
                                                           href="register">Register</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>
<!-- Header End ---->


<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <!-- single_carouse -->
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Upgrade your skills with<br> a new way of ELDT<br> Training online.</h3>
                            <a href="#" class="boxed-btn3">Get Enrolled</a>
                            <a href="#" class="boxed-btn4">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ single_carouse -->
        <!-- single_carouse -->
        <div class="single_slider  d-flex align-items-center slider_bg_2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text">
                            <h3>Get your ELDT Certification<br> online with our quick, easy<br> and fun program</h3>
                            <a href="#" class="boxed-btn3">Get Enrolled</a>
                            <a href="#" class="boxed-btn4">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- About Section -->
<section class="about-section" id="about_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pr-md-4">
                <div class="image-block" data-aos="fade-right">
                    <img src="static/img/home-img-1.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 pl-md-4">
                <div class="content-block">
                    <div class="sec-title mb-20" data-aos="fade-left">
                        <h2>Welcome to Our Smart & Systematic <br> ELDT Training Course</h2>
                    </div>
                    <div class="text mb-4">
                        <p>ELDT Inc is your one-stop solution for comprehensive, sound and strategic digital ELDT Theory
                            Training. The online ELDT Theory training incorporates all the required FMCSA mandates that
                            have been introduced as part of the Entry-Level Driver Training program. You will be
                            familiarized with the theory instructions as well as Commercial Driver's License training to
                            achieve the necessary 80% score needed to qualify to receive the ELDT certification.ELDT Inc
                            aspires to help entry-level drivers seeking to complete their ELDT training online and get a
                            CDL license through an all-inclusive, industrial-informative database of online classes and
                            practice tests. All our content is created in sync with the official FMCSA ELDT Curriculum
                            so that you remain on track with the syllabus and study accordingly.</p>
                    </div>
                    <div class="bottom-content float-left">
                        <a href="<%=WebUrl.about%>" class="learn-more">
                            Learn more
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="foursteps mt-0">
    <div class="container">
        <div class="row follor_step">
            <div class="col-md-12 mb-5 pb-3">
                <div class="section_title text-center">
                    <h2 data-aos="zoom-in">ELDT Course Procedure</h2>
                    <p>Register through a simple process and start your ELDT training course today!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="process-item2 first text-center">
                    <span><em data-aos="zoom-in">1</em></span>
                    <h3 data-aos="zoom-in">Register</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="process-item2 text-center">
                    <span><em data-aos="zoom-in">2</em></span>
                    <h3 data-aos="zoom-in">Attend Class</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="process-item2 text-center">
                    <span><em data-aos="zoom-in">3</em></span>
                    <h3 data-aos="zoom-in">Test</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="process-item2 text-center">
                    <span><em data-aos="zoom-in">4</em></span>
                    <h3 data-aos="zoom-in">Result</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="getstart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title text-center">
                    <h2 data-aos="zoom-in">Get Start With ELDT Inc</h2>
                    <p>We want to make learning easy, understandable and enjoyable for our students.</p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-6 col-lg-3 col-12">
                <div class="card_public">
                    <div class="card_content">
                        <div class="card_icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="card_body">
                            <p class="card_p"> We are a listed
                                <span>entity on FMCSA's Training</span>
                                Provider Registry (TPR).
                            </p>
                        </div>
                    </div>
                    <div class="card_layout"></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-12">
                <div class="card_public">
                    <div class="card_content">
                        <div class="card_icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="card_body">
                            <p class="card_p">Our courses are planned as per the
                                <span> modern-day Model</span>
                                Curricula of Theory Instruction.
                            </p>
                        </div>
                    </div>
                    <div class="card_layout"></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-12">
                <div class="card_public">
                    <div class="card_content">
                        <div class="card_icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="card_body">
                            <p class="card_p"> We provide an FMCSA
                                <span> authorized certificate </span>
                                upon successful course completion.
                            </p>
                        </div>
                    </div>
                    <div class="card_layout"></div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 col-12">
                <div class="card_public">
                    <div class="card_content">
                        <div class="card_icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="card_body">
                            <p class="card_p"> Pre-recorded video lessons
                                <span>are available, made </span>
                                by industry expert faculty.
                            </p>
                        </div>
                    </div>
                    <div class="card_layout"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-section bg-light" id="about_sec">
    <div class="container">
        <div class="row justify-align-center align-items-center">
            <div class="col-lg-6">
                <div class="image-block mb-0" data-aos="fade-right">
                    <div class="image-one text-center"><img src="static/img/home-img-2.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-block mb-0">
                    <div class="sec-title mb-20" data-aos="fade-left">
                        <h2>The Benefit Of Online <br>Classes For The ELDT Course</h2>
                    </div>
                    <div class="text mb-0">
                        <p>The Entry-Level Driver Training mandates require new entry-level drivers to complete Theory
                            Instructions and Behind-The-Wheel training from a certified training provider (i.e. a truck
                            driving school certified by FMCSA) in order to be eligible to get their Commercial Driver's
                            License.</p>
                        <p class="mb-0">In this context, online classes for Theory Instructions become an easy option
                            for students to complete an integral part of their training before joining a driving school
                            to complete Behind-The Wheel instructions and give the skills test for obtaining a Class A
                            or Class B CDL. This way, the students can get their CDL quickly while preparing from their
                            homes using their smartphones.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="testimonials" class="parallax-off">
    <div class="container">
        <div class="section-title text-center">
            <h3>Testimonials</h3>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="testi-carousel owl-carousel owl-theme">
                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <h4>Joseph Lockwood</h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> I scored above 80% in my first Attempt!</h3>
                            <p class="lead">Oh I felt so happy when I received my certificate! It was such a fun and
                                easy learning experience with ELDT Inc. I was able to study at a speed that allowed me
                                to balance my life and studies nicely, and I could prepare without feeling
                                pressured.</p>
                        </div>
                    </div>
                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <h4>Nicole Ferrera</h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> The video lectures are So helpful!</h3>
                            <p class="lead">The class curriculum was thoroughly explained so I breezed through the
                                course easily. But what I loved the most were the video lectures because they explained
                                concepts in an easily understandable manner. I had thought ELDT prep would be difficult
                                but ELDT Inc proved me wrong.</p>
                        </div>
                    </div>
                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <h4>Saul Rodriguez </h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i>Very, very, very convenient!</h3>
                            <p class="lead">Online courses are just so handy and suitable for people like me with
                                multiple part-time jobs. ELDT Inc made it even more easy with their classes and multiple
                                test opportunities. Now I can't wait to get my behind-the-wheels training, obtain my
                                CDL, and hit the road!</p>
                        </div>
                    </div>
                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <h4>Mark Groth </h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Learning has never been easier!!</h3>
                            <p class="lead">My experience with ELDT Inc was nothing short of awesome. I was worried that
                                I will be overwhelmed with the extensive 30 modules but they were actually very easy to
                                learn. I had a good learning experience and I would recommend ELDT Inc to everyone who
                                wants to complete their theory training.</p>
                        </div>
                    </div>
                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <h4>Lilly Smith </h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> What can I say except amazing!</h3>
                            <p class="lead">After searching for the perfect online platform to complete my ELDT theory
                                instructions that can accommodate my busy schedule, I found ELDT Inc and I was so happy
                                that I chose it. I made my own study schedule, studied as and when I had time and was
                                able to score above 80% on my second attempt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<section class="about-section" id="about_sec">
    <div class="container">
        <div class="row justify-align-center align-items-center">
            <div class="col-lg-6 pr-md-4">
                <div class="content-block mb-0">
                    <div class="sec-title mb-20" data-aos="fade-left">
                        <!-- <div class="sub-title">Learn to drive safely</div> -->
                        <h2>Why Should You Choose ELDT Inc</h2>
                    </div>
                    <div class="text mb-0">
                        <p>We give you detailed study material for a complete learning experience - digital classes with
                            Theory explained in lucid terms that you can easily understand and memorize. Our website can
                            be accessed on any device and on any web browser, making it comfortable for you to use it
                            whenever and wherever you want. It is easy to navigate with its simplistic design and
                            friendly user interface.</p>
                        <p>ELDT Inc offers you a deftly created course made by industry experts and experienced driving
                            instructors for your ELDT training online. You can study from the comfort of your home at
                            your own pace, gain in-depth knowledge about all 5 Basic Areas of Theory Instruction and
                            test this knowledge with an exam at the end of the course. Upon successful completion of
                            this course and obtaining at least an 80% score in the exam, you will receive an ELDT
                            certification authorized by FMCSA.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-md-3">
                <div class="image-block mb-0" data-aos="fade-right">
                    <div class="image-one text-center"><img src="static/img/home-img-3.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faq-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="section_title text-center">
                    <h2 data-aos="zoom-in">Frequently Asked Questions</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="accordion" id="faqExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Q: Are the ELDT mandates retroactive in effect?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#faqExample">
                            <div class="card-body">
                                No, the ELDT mandates do not have a retroactive effect. For individuals who held a valid
                                and current CDL and the relevant endorsement(s) prior to February 7, 2022, the rule is
                                not applicable.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Q: Is there a minimum number of hours to be spent on Theory Instruction?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                            <div class="card-body">
                                Driver-trainees are not required to spend any certain amount of time on theory
                                instruction. However, all modules must be covered for the successful completion of
                                Theory Instruction.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Q: What are the basic requirements to qualify in Theory Instruction?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#faqExample">
                            <div class="card-body">
                                An overall minimum score of 80% on all theory modules must be obtained by the
                                driver-trainee to qualify in Theory Instructions.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Q: Are the Theory Instructions sufficient to complete Entry-Level Driver Training?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                            <div class="card-body">
                                No, according to FMCSA, driver-trainee must complete Theory Instruction and
                                Behind-The-Wheels Training successfully to fulfill their ELDT mandates. Both
                                Instructions ought to be given by a school listed under FMCSA's Training Provider
                                Registry.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Q: Is it mandatory to get a CDL endorsement?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                            <div class="card-body">
                                No, it is entirely up to you if you want to get an endorsement and which one you want to
                                get. Endorsements help you get a higher paying load, depending on which one you possess.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Q: Is it assured that I will receive a certificate after I complete my course?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqExample">
                            <div class="card-body">
                                Yes, upon successful completion of your ELDT theory training with ELDT Inc, you will
                                receive an e- certificate authorized by FMCSA. You can use this certificate at any
                                driving school to finish your Behind-The-Wheel training to complete your ELDT course.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseSeven" aria-expanded="false"
                                        aria-controls="collapseSeven">
                                    Q: What does the Behind-The-Wheel instruction involve?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                             data-parent="#faqExample">
                            <div class="card-body">
                                Behind-the-wheel driving instructions include specific driving exercises in concern to
                                the relevant driving skills which are mandatory to operate a Commercial Motor Vehicle.
                                Safe handling procedures must imperatively include training procedures like Pre-Trip/
                                En-route /Post Trip assessment of the vehicle, Straight-line Backing, Parallel Parking
                                Blind Side, etc.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- * counter -->

<!-- Footer Start ---->

<footer th:replace="layouts/fragments/footer"></footer>

<!-- Footer End ---->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.js"></script>
<script src="static/js/main.js"></script>

</body>
</html>