<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="ELDT Training online - ELDT Inc">
    <meta property="og:image" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" href="static/img/favicon.png">
    <title>About Us</title>
    <link rel="icon" href="static/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>

<!-- Header Start ---->

<header th:replace="layouts/fragments/header"></header>
<!-- Header End ---->

<section class="about_bg-new">
    <div class="container">
        <h1>About Us</h1>
    </div>
</section>
<section class="about_fmcsa about-cst pb-0">
    <div class="container">
        <div class="about">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                    <h2>ELDT Inc - Your Trusted ELDT <br> Online Training Guide!</h2>
                    <p>ELDT Inc is a one-stop shop for all prospective drivers looking to start their initial driver
                        education through an ELDT online training course. Providing a sound basis for the Entry-Level
                        Driver Training (ELDT) mandate of the Federal Motor Carrier Safety Administration (FMCSA), we
                        have a learning platform suitable for every driver-trainee who wants to get a Class A CDL
                        (Commercial Driver's License).</p>
                    <h2 class="mt-4">The Objective of ELDT Inc As an ELDT <br>Online Training Provider</h2>
                </div>
                <div class="col-md-6">
                    <div class="about_img">
                        <img src="static/img/about.png" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="row mt-3 mb-4">
                <div class="col-lg-12">
                    <p>The goal of ELDT Inc is to give our students a safe learning space where they can study at a pace
                        that suits them with detailed course curriculum and video lectures, so that they develop a
                        strong foundation for Theory Instructions as per the ELDT mandates. We want to build their
                        driving knowledge with a solid base, providing them with the skills needed to be a responsible
                        commercial motor vehicle driver.</p>
                    <p>ELDT Inc's rationale is rooted in the belief that education should be engaging, fun and
                        comprehensible, and centered on students' requirements. The ELDT course has been made with the
                        assistance of industry experts possessing profound knowledge in driver training instructions.
                        Their guidance has produced a learning platform that delivers on the needs of driver-trainees to
                        the fullest - a platform that caters to the learning requirements of students in the simplest,
                        graspable manner but never compromises on the quality of the content they study.</p>
                    <p>ELDT Inc is a certified service provider - our ELDT course is approved by the FMCSA.</p>
                    <h3 class="mt-4"> Get Started With Your ELDT Course Today!</h3>
                    <p>Look nowhere else for your Theory Instruction preparation! Study with us and take the initial
                        stepping stone toward a bright future in the trucking industry as a well-learned, responsible
                        driver. Let us guide you ahead!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_points pb-5 mb-5 about-cst">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-1">
                <h3>ELDT Inc Is The Right Choice For You!</h3>
            </div>
            <div class="col-lg-4">
                <div class="about_content_box_all mt-4 bg-abt-serv">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <h5 class="text-capitalize mt-4 font-weight-bold">ELDT Compliant</h5>
                        <p class="edu_desc mt-3 mb-0 text-muted">The ELDT course is aligned with the Entry-Level Driver
                            Training Theory Instructions curriculum for all 30 modules, as directed by the FMCSA.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about_content_box_all mt-4 bg-abt-serv">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <h5 class="text-capitalize mt-4 font-weight-bold">FMCSA Authorized Certification</h5>
                        <p class="edu_desc mb-0 mt-3 text-muted"> Upon successful completion of the test, students can
                            download an FMCSA authorized certificate if they want, at a standard fee of $25.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about_content_box_all mt-4 bg-abt-serv">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <h5 class="text-capitalize mt-4 font-weight-bold">Class A CDL Program</h5>
                        <p class="edu_desc mb-0 mt-3 text-muted"> The ELDT course provided by us covers ELDT training
                            for Class A Commercial Driving License Program in a comprehensive format.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about_content_box_all mt-4 bg-abt-serv">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <h5 class="text-capitalize mt-4 font-weight-bold">Affordable</h5>
                        <p class="edu_desc mb-0 mt-3 text-muted"> Register with your mobile number, get verified and
                            start your preparation instantly! Pay only when you download our certificate.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about_content_box_all mt-4 bg-abt-serv">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <h5 class="text-capitalize mt-4 font-weight-bold">Easily Accessible</h5>
                        <p class="edu_desc mb-0 mt-3 text-muted"> Study on any device with a stable internet connection
                            - be it your handy smartphone or the bigger screen of a tablet, laptop or desktop.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about_content_box_all mt-4 bg-abt-serv">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <h5 class="text-capitalize mt-4 font-weight-bold">Multiple Test Attempts</h5>
                        <p class="edu_desc mb-0 mt-3 text-muted"> Do not like the test results you received? No problem!
                            You can attempt the test as many times as you wish to get your desired results.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer Start ---->

<footer th:replace="layouts/fragments/footer"></footer>

<!-- Footer End ---->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.js"></script>
<script src="static/js/main.js"></script>
</body>
</html>