<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta property="og:title" content="ELDT Training online - ELDT Inc">
	<meta property="og:image" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="icon" href="static/img/favicon.png">
	<title>ELDT Course</title>
	<link rel="icon" href="static/img/favicon.png">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>

<!-- Header Start ---->

<header th:replace="layouts/fragments/header"></header>
<!-- Header End ---->
		
		
		<section class="about_bg-new">
			<div class="container">
				<h1>ELDT Course</h1>
			</div>
		</section>
		<section class="about-section course-cst-outer" id="about_sec">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 sec-title mb-20 course-cst-title" data-aos="fade-left">
						<!-- <div class="sub-title">Learn to drive safely</div> -->
						<h1>Begin A New Journey On The Wheels With Our ELDT Course</h1>
					</div>
					<div class="col-lg-6">
						<div class="image-block" data-aos="fade-right">
							<div class="image-one"><img src="static/img/about1.jpg" alt="" class="img-fluid"></div>
							<div class="image-two"><img src="static/img/about2.jpg" alt="" class="img-fluid"></div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="content-block">
							<div class="text">
								<p>Complete your ELDT course to obtain a Class A CDL with ELDT Inc's comprehensive preparation plan created by industry experts. The course features in-depth classes on Entry-Level Driver Training Theory Instructions explained in simple terms to enable easy understanding of the curriculum. Study at a pace that suits you, helps you learn in the best way possible, and complete all the 30 modules grouped in 5 areas of training thoroughly. Practice with a giant pool of questions in our database until you are confident that you can tackle the main exam.</p>
								<p>Register, study and attempt tests for free. You will be required to pay a fee of $25 only when you download the FMCSA authorized ELDT certification regardless of what your score is. If you do not score the required 80% and do not wish to download the certificate, you can go back and attempt the test again. This certificate is a valid proof of completion of ELDT Theory Training and your next step should be completing your Behind-the-Wheels Training at a driving school listed in FMCSA's Training Provider Registry. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="planlefttab bg-light">
			<div class="container">
				<div class="tab-cont">
					<div class="row">
						<div class="col-12">
							<div class="pils-heading course-cst-title">
								<h2>Five Areas Of ELDT Theory Instructions</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-12">
							<div class="border-left">
								<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
									<a class="nav-link active" id="distracted-drivers" data-toggle="pill" href="#distracted-drivers-one" role="tab" aria-controls="distracted-drivers-one" aria-selected="true">BASIC OPERATIONS
									</a>
									<a class="nav-link" id="identification" data-toggle="pill" href="#identification-two" role="tab" aria-controls="identification-two" aria-selected="false">
									SAFE OPERATING PROCEDURES
									</a>
									<a class="nav-link" id="addresses" data-toggle="pill" href="#addresses-three" role="tab" aria-controls="addresses-three" aria-selected="false">
									ADVANCED OPERATING PROCEDURES
									</a>
									<a class="nav-link" id="cargo-must-be" data-toggle="pill" href="#cargo-must-be-four" role="tab" aria-controls="cargo-must-be-four" aria-selected="false">
									VEHICLE SYSTEM AND REPORTING MALFUNCTIONS
									</a>
									<a class="nav-link" id="cargo-must-beasa" data-toggle="pill" href="#cargo-must-be-foura" role="tab" aria-controls="cargo-must-be-foura" aria-selected="false">
									NON-DRIVING ACTIVITIES
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-9 col-12">
							<div class="tab-content" id="v-pills-tabContent">
								<div class="tab-pane fade show active" id="distracted-drivers-one" role="tabpanel" aria-labelledby="distracted-drivers">
									<div class="course-tab">
										<p><strong>Orientation:</strong>  The new addition as per the Entry-Level Driver Training guidelines includes changes in the size and weight limits.</p>
										<ul>
											<li>Instructions generally cover:</li>
											<li>Checking and taking stops at weigh stations/scales.</li>
											<li>Hazard awareness of weight limitations and vehicle size,</li>
											<li>Low Clearances (Height restrictions),</li>
											<li>Formulas and Calculations of bridge formulas.</li>
										</ul>
										<p><strong>Control Systems/Dashboards:</strong> According to the ELDT mandates addition to this topic include proper use of safety belts and mirrors.</p>
										<p><strong>Pre Trip and Post Trip Inspection:</strong> Appropriate Inspection locations must be added as per the updated ELDT guidelines.</p>
										<p><strong>Basic controls:</strong> Additions to this topic include maneuvering in restricted areas with simultaneous driving instructions on how to operate a commercial vehicle in entering and exiting interstate or controlled-access highways.</p>
										<p><strong>Shifting/Operation Transmission:</strong> Careful transmissions and shifting procedures are mandated and updated as per the new Entry-Level Driving Training rules.</p>
										<p><strong>Backing and Docking:</strong> Safe Docking of a commercial motor vehicle is added to the training topic as per the ELDT guidelines.</p>
										<p><strong>Coupling and Uncoupling:</strong> According to the Federal Motor Carrier Safety Regulations guidelines the driver must be able to couple and uncouple the trailers as mandated in the updated guidelines.</p>
									</div>
								</div>
								<div class="tab-pane fade" id="identification-two" role="tabpanel" aria-labelledby="identification">
									<div class="course-tab">
										<p><strong>Visual Search:</strong>  Recognition of distracted drivers and pedestrians has been added to this training topic.
										<p><strong>Communication:</strong>  The addition of this topic includes proper eye techniques with other pedestrians, cyclists, and drivers.</p>
										<p><strong>Distracted Driving:</strong>  Addition to this topic includes a discussion of using mobile phones and texting and improper cell phone regulations in the part 392 Subpart H of the FMCSR. Topics that must be included:</p>
										<ul>
											<li>Visual attention (keeping attention on the road),</li>
											<li>Manual Control (keeping hands on the wheel),</li>
											<li>Cognitive Awareness (keeping concentration on the task and safe operation of the CMV),</li>
											<li>Speed Management</li>
											<li>Space Management</li>
											<li>Night Operation</li>
											<li>Extreme Driving Conditions</li>
										</ul>
									</div>
								</div>
								<div class="tab-pane fade" id="addresses-three" role="tabpanel" aria-labelledby="addresses">
									<div class="course-tab">
										<p><strong>Hazard Perception:</strong> Identification and recognition of potential dangers or contingencies that might arise when driving the commercial vehicle in construction/work zones are added to the training topics.</p>
										<p><strong>Skid Control/Recovery/Jackknifing and other emergencies:</strong> Adequate response to tire blowouts, hydroplaning and rollovers of the commercial vehicle are added to the training topic. The updated instruction must include a review of unsafe acts and the role acts play in the contingency or the emergency.</p>
										<p><strong>Railroad Highway Grade Crossing:</strong> Recognition of potential dangers and appropriate safety procedures at highway - railroad grade crossings are to be potentially added. The instruction generally includes:</p>
										<ul>
											<li>An overview of federal and state crossing regulations,</li>
											<li>Obstructed view conditions,</li>
											<li>Crossing Environments,</li>
											<li>Clearance around the Tracks,</li>
											<li>Rail signs and signals,</li>
										</ul>
										<p>The instruction must also address emergency notification systems when it comes to unsafe obstructions like unsafe vehicles on the railroad or the railway tracks.</p>
									</div>
								</div>
								<div class="tab-pane fade" id="cargo-must-be-four" role="tabpanel" aria-labelledby="cargo-must-be">
									<div class="course-tab">
										<p>This section addresses the importance of understanding the combination of tractor-trailers or other commercial vehicles, and their system and subsystem to verify and confirm the vehicle inspection, operation, and maintenance as these issues have an impact on both operational efficiency and highway safety. The requisite training topics about what is new are as follows:</p>
										<ul>
											<li>Identification and Diagnosis of Malfunctions</li>
											<li>Roadside Inspections</li>
											<li>Items that must be added include:</li>
										</ul>
									</div>
								</div>
								<div class="tab-pane fade" id="cargo-must-be-foura" role="tabpanel" aria-labelledby="cargo-must-beasa">
									<div class="course-tab">
										<p><strong>Documentation of Cargo:</strong> Recognition of any theft of the cargo must be added to the following training modules.</p>
										<p><strong>Conventional Adherence to environmental issues:</strong> Necessary recognition of environmental issues and hazards in regards to load and operation of commercial motor vehicles must be carefully observed by the instructor. Students are also made according to the recent ELDT mandates that federal, state, country, or city requirements are also to be added to the training topic.</p>
										<p><strong>Hours of Service Requirements:</strong> Discussion of various industry-specific exceptions and exemptions must be added to this training topic. Also, students must be instructed on the completion of both paper and electronic records of the duty status.</p>
										<ul>
											<li>An overview of federal and state crossing regulations,</li>
											<li>Obstructed view conditions,</li>
											<li>Crossing Environments,</li>
											<li>Clearance around the Tracks,</li>
											<li>Rail signs and signals,</li>
											<li>The instruction must also address emergency notification systems when it comes to unsafe </li>
											<li>obstructions like unsafe vehicles on the railroad or the railway tracks.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section_plan">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="pils-heading course-cst-title">
							<h2>Our ELDT Course Is Approved By FMCSA!</h2>
						</div>
					</div>
				</div>
				<div class="row d-flex justify-content-center">
					<div class="col-md-12">
						<div class="table-default table1 recommended grad2 mt-0">
							<div class="row">
								<div class="col-md-6 d-flex align-items-center justify-content-center">
									<div>
										<div class="table__header">
											<p data-price="25" class="table__header--price">
												<span>$</span> 25
											</p>
										</div>
										<div class="table__footer">
											<a href="<%=WebUrl.register%>" class="button_plan">Get Started</a>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="table__content">
										<ul class="table__content--list">
											<li><i class="fa fa-check"></i> For Class A CDL only</li>
											<li><i class="fa fa-check"></i> Certificate download</li>
											<li><i class="fa fa-check"></i> Self-paced</li>
											<li><i class="fa fa-check"></i> Friendly user interface</li>
											<li><i class="fa fa-check"></i> Compatible with any device</li>
											<li><i class="fa fa-check"></i> No hidden fees</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="eldt-course-freas bg-light">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="pils-heading course-cst-title">
							<h2>ELDT Course Features</h2>
						</div>
					</div>
				</div>
				<div class="row my-5">
					<div class="col-md-3 col-12 d-flex align-items-center">
						<div class="feeeldt">
							<div class="cont">
								<h6>UNLIMITED REVISION</h6>
								<p>Access the curriculum and video lectures for as long as the plan period continues.</p>
							</div>
							<div class="cont">
								<h6>UNLIMITED TEST ATTEMPTS</h6>
								<p>Attempt the practice tests as many times as you want until you get your desired result.</p>
							</div>
							<div class="cont">
								<h6>RESULT CERTIFICATE</h6>
								<p>Download an FMCSA authorized certificate after your test attempts for a fee of $25.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-12">
						<div class="feeimg"> 
							<img src="static/img/eldtlept.png" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-md-3 col-12 d-flex align-items-center">
						<div class="feeeldt">
							<div class="cont">
								<h6>MOBILE FRIENDLY</h6>
								<p>Access the website on your smartphone without any display or performance issues.</p>
							</div>
							<div class="cont">
								<h6>COMPREHENSIVE LEARNING</h6>
								<p>Study all five areas of ELDT Theory Instructions in a thorough but lucid language.</p>
							</div>
							<div class="cont">
								<h6>LECTURES FROM INDUSTRY EXPERTS</h6>
								<p>Learn in-depth from industry expert faculty through pre-recorded video lessons</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="educmember">
			<div class="container">
				<div class="text-center course-cst-title">
					<h4>Education Made Easier And Enjoyable With ELDT Inc!</h4>
				</div>
			</div>
		</section>
		
		
		<!-- Footer Start ---->

	<footer th:replace="layouts/fragments/footer"></footer>
		<!-- Footer End ---->
		
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.js"></script>
		<script src="static/js/main.js"></script>
	</body>
</html>